language: node_js
node_js:
  - v0.12.7
sudo: false
cache:
  bundler: true
  directories:
    - protractor/node_modules
before_install:
  - rvm install 2.2.2
  - rvm --default use 2.2.2
  - gem update --remote bundler
install:
  - bundle install --retry=3
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - ruby -v
  - cd protractor
  - npm install
  - cd testapp
  - npm start & # must background the webserver
  - cd ..; cd .. # return to project root
  - sleep 5 # wait for servers to start
script:
  - bundle exec thor gen     # regenerate every time before testing
  #- bundle exec thor compare # ensure ported protractor tests stay up to date
  # for benchmarking, run tests a few times.
  - bundle exec thor rspec_queue
after_script:
  - bundle exec rake coveralls:push # publish coverage to coveralls.io
notifications:
  email:
    on_success: never
    on_failure: never
