sudo: false
cache: bundler
language: ruby
rvm:
  - 2.2.2
before_install: gem update --remote bundler
install:
  - bundle install --retry=3
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 5 # give xvfb some time to start
script:
  - bundle exec thor spec
notifications:
  email:
    on_success: never
    on_failure: never
